doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content= projectDescription)
    link(rel="icon" href="favicon/favicon.ico")
    link(rel="icon" href="favicon/152.svg" type="image/svg+xml")
    link(rel="apple-touch-icon" href="favicon/180.png")
    //- link(rel="manifest" href="./favicon/manifest.webmanifest" crossorigin="use-credentials")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"

    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload", href="fonts/placeholder.woff2", as="font", crossorigin="anonymous")
    link(rel="preload" href="fonts/Inter-Regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Inter-Bold.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/Inter-Black.woff2" as="font" crossorigin="anonymous")

    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    script(src="js/vendor.min.js")
    script(src="js/main.min.js")
